src/ImageMagick/libraries
src/ImageMagick/output
src/Magick.Native/.vs
src/Magick.Native/bin
src/Magick.Native/lib
src/create-type-definition/lib
src/create-type-definition/node_modules
build/linux/output
build/linux-musl/output
build/linux-openmp/output
build/macos/output
build/metadata
build/wasm/output
build/windows/output
publish
tools
.git
.vs
.vscode