src/ImageMagick/libraries
src/ImageMagick/output
src/Magick.Native/.vs
src/Magick.Native/bin
src/Magick.Native/lib
build/dotnet/linux/output
build/dotnet/macos/output
build/dotnet/windows/output
build/wasm/linux/output