.vs
.vscode
publish/**/files/*
src/ImageMagick/Configure
src/ImageMagick/Dependencies
src/ImageMagick/Imagemagick
src/ImageMagick/ProjectFiles
src/ImageMagick/*.sln
src/Magick.Native/lib
src/Magick.Native/bin
src/Magick.Native/Q8
src/Magick.Native/Q16
src/Magick.Native/Q16-HDRI
src/wasm-file-creator/lib
src/wasm-file-creator/node_modules
**/artifacts/*
**/tools/*
*.aps
*.log
*.user