/publish/**/files/*
/src/ImageMagick/libraries/*
/src/ImageMagick/output/*
/src/Magick.Native/lib
/src/Magick.Native/bin
/src/Magick.Native/.vs
/src/Magick.Native/*.user
/src/Magick.Native/*.log
**/output/*
**/tools/*
.vs
.vscode
